body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.list {
  list-style: none;
}

.page-header {
  background-color: #898989;
}

.link {
  text-decoration: none;
}

.nav__link {
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
}
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}
.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}
/* mobile */
.mobile-title {
  font-size: 36px;
  line-height: calc(53 / 36);
  text-align: center;
  color: #323232;
}

.mobile-text {
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: center;
  color: #999999;
}
.mobile-title-item {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #000000;
}
.mobile-item-tex {
  font-size: 14px;
  line-height: calc(22 / 14);
  color: #999999;
}
.mobile-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  color: #ffffff;
}
.standart-title {
    font-size: 36px;
    line-height: calc(53/36);
    color: #323232;
}

.standart-text {
    font-size: 16px;
    line-height: calc(25/16);
    color: #999999;
}

.standart-link {
  font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    text-decoration-line: underline;
    color: #4985FF;
}

.standart-list {}

.list {}

.standart-item {}

.standart-item-text {
    font-size: 16px;
    line-height: calc(25/16);
    color: #999999;
}

.standart-count {
  font-size: 36px;
    line-height: calc(53/36);
    color: #000000;
}