body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
p, h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  background-color: #898989;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 40px;
  padding-top: 40px;
}

.nav__link {
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
}

.hero {
  padding-top: 319px;
  padding-bottom: 335px;
  background-color: gray;
}
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
  width: 829px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  
  display: block;
  margin: 0 auto;
}
/* mobile */
.mobile-title {
  font-size: 36px;
  line-height: calc(53 / 36);
  text-align: center;
  color: #323232;
}

.mobile-text {
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: center;
  color: #999999;
}
.mobile-title-item {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #000000;
}
.mobile-item-tex {
  font-size: 14px;
  line-height: calc(22 / 14);
  color: #999999;
}
.mobile-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  color: #ffffff;
}
.standart-title {
    font-size: 36px;
    line-height: calc(53/36);
    color: #323232;
}

.standart-text {
    font-size: 16px;
    line-height: calc(25/16);
    color: #999999;
}

.standart-link {
  font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    text-decoration-line: underline;
    color: #4985FF;
}

.standart-list {}

.list {}

.standart-item {}

.standart-item-text {
    font-size: 16px;
    line-height: calc(25/16);
    color: #999999;
}

.standart-count {
  font-size: 36px;
    line-height: calc(53/36);
    color: #000000;
}